---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="A propos de moi" description="A propos de moi">
	<div class="stack gap-20">

		<main class="wrapper about">
			<Hero
				title="Mon CV"
				tagline="Si vous souhaitez en savoir plus sur moi je vous invite à prendre connaissance de mon CV."
			>
			</Hero>

			<section>
				<h2 class="section-title">Liens de mon CV:</h2>
				<div class="content">
					<a href="/CV">Cliquez ici pour visiter mon CV</a><br>
					<img src="/assets/Mon CV.png" alt="Mon CV" width="70%">
					
		</main>
	

		<ContactCTA />
	</div>

</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
