---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
import type { Code } from 'astro:components';
---

<BaseLayout title="A propos de moi" description="A propos de moi">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="A propos de moi"
				tagline="Je vous invite à lire cette page pour en savoir plus sur moi et mon parcours."
			>
				<img
					width="900"
					height="773"
					src="/assets/Portrait_Personel.jpg"
					alt="Portrait_Personel"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Mise en contexte</h2>
				<div class="content">
					<p>
						D'une passion pour les sciences appliquées, j'ai décidé que je poursuivrais à l'avenir dans ce domaine.
						Pour donner suite à l'obtention de mon baccalauréat spécialité Mathématique, et Physique-Chimie, j'ai décidé de m'orienter vers un IUT en filière Mesures-Physiques. 
						Ce choix fut conduit par mon envie de connaissances mais surtout d'application dans tous les domaines de la physique. 
						Cela m'a donc permis de développer 	des bases théoriques importantes mais surtout une capacité d'application supérieure.
					</p>
					<div>
    <img src="/assets/Chaine-education.jpg" alt="Illustration chaine élément" width="60%">
</div>
					<p>
						Ce qui me caractérise le plus, c'est ma capacité d'adaptation et d'inclusion dans de nouveaux environnements, fort d'une curiositée débordante pour les nouvelles technologies scientifiques.
						D'une nature ouverte et déterminée, j'accorde une grande attention à la communication, au partage de connaissances et du travail bien fait.
					</p>
					<p>
						...
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Diplômes</h2>
				<div class="content">
					<p>Baccalauréat Scientifique, Bac+2 Mesures-Physiques.</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Savoir être</h2>
				<div class="content">
					<p>Curieux, Créatif, Autonome, Organisé, Téméraire, Polyvalent, Eloquent</p>
				</div>
			</section>

			<section>
				<h2 class="section-title">Compétition Universitaires</h2>
				<div class="container">
					<div class="zoom">
						<img src="/assets/Inter-fac_basket_2023.jpg" alt="Image 1" width="200" height="200">
					</div>
					<div class="zoom">
						<img src="/assets/Nuitvolley2023.jpg" alt="Image 3" width="200" height="200">
					</div>
					<div class="zoom">
						<img src="/assets/Nuit_Volley2024.webp" alt="Image 3" width="200" height="200">
					</div>
					<div class="zoom">
						<img src="/assets/Inter-fac_Hand.jpg" alt="Image 2" width=200" height="200">
					</div>
					<div class="zoom">
						<img src="/assets/Inter-fac_ultimate.jpg" alt="Image 3" width="200" height="200">
					</div>
					<div class="zoom">
						<img src="/assets/Inter-fac_volley2024.jpg" alt="Image 3" width="200" height="200">
					</div>
					<div class="zoom">
						<img src="/assets/Inter-fac_basket_2024.webp" alt="Image 3" width="200" height="200">
					</div>
					<div class="zoom">
						<img src="/assets/Championats_france2024.jpg" alt="Image 3" width="200" height="200">
					</div>
				</div>
			</section>
			
			<!DOCTYPE html>


			
			
		</main>
	
		<ContactCTA />
	</div>

</BaseLayout>

<style>

	.container {
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
    .zoom img {
            -webkit-transform: scale(1);
            transform: scale(1);
            -webkit-transition: .3s ease-in-out;
            transition: .3s ease-in-out;
        }
    .zoom:hover img {
            -webkit-transform: scale(1.3);
            transform: scale(1.3);
        }
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
